<% @facade.stations.each do |station| %>
  <ul class="station">
    <li>Station: <%= station.name %></li>
    <li>Address: <%= station.address %></li>
    <li>Fuel Types: <%= station.fuel_types %></li>
    <li>Access Times: <%= station.access_times %></li>
    <li>Distance: <%= station.distance %> Miles</li>
  </ul>

<% end %>
